@page
@model Airline_Reservation_System.Pages.profileModel
@{
        ViewData["Title"] = "Profile";
        ViewData["name"] = "navbar";
    ViewData["Logged"] = Convert.ToString(HttpContext.Session.GetString("email"));
}
<link rel="stylesheet" href="/css/site.css">



<div class="layout-wrapper">
    <!-- header -->
    <div class="header" style="position:relative;">
        <div class="menu-toggle-btn">
            <!-- Menu close button for mobile devices -->
            <a href="#">
                <i class="bi bi-list"></i>
            </a>
        </div>

    </div>
    <!-- ./ header -->
    <!-- content -->
    <div class="content">
        <div class="row" style="display: flex;">
            <!-- Personal Info Section -->
            <div class="col-md-8" style="flex: 2;">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="mb-4">
                            <div class="d-flex flex-column flex-md-row text-center text-md-start mb-3">
                                <div class="avatar avatar-info" style="height:100px;width:100px;">
                                    <span class="avatar-text rounded-circle" style="font-size: 48px;">@Model.dt.Rows[0]["Fname"].ToString()[0]</span>
                                </div>

                            </div>
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h6 class="card-title mb-4">Personal Info</h6>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">Name</label>
                                                <input type="text" class="form-control" value="@Model.dt.Rows[0]["Fname"] @Model.dt.Rows[0]["Lname"]" readonly>
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label">Email</label>
                                                <input type="text" class="form-control" value="@Model.dt.Rows[0]["Email"]" readonly>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Date of Birth</label>
                                                <input type="text" class="form-control"
                                                       value="@Convert.ToDateTime(Model.dt.Rows[0]["Bdate"]).ToString("yyyy-MM-dd")"
                                                       readonly>

                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Gender</label>
                                                <input type="text" class="form-control" value="@Model.dt.Rows[0]["Sex"]" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Contact Information -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <h6 class="card-title mb-4">Contact</h6>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <form method="post">
                                                <label class="form-label" asp-for="Inputphonenumber">Phone</label>
                                                @if (Convert.ToInt32(TempData["buttonPressed"] ?? 0) % 2 == 0)
                                                {
                                                    <input type="text" class="form-control" value="@Model.dt.Rows[0]["PhoneNumber"]" readonly />
                                                    <button asp-page-handler="ModifyPhoneNumber" class="btn btn-primary">Modify</button>
                                                }
                                                else
                                                {
                                                    <input type="text" asp-for="Inputphonenumber" class="form-control" value="@Model.dt.Rows[0]["PhoneNumber"]" />
                                                    <button asp-page-handler="SavePhoneNumber" class="btn btn-primary">Save</button>
                                                }
                                            </form>
                                        </div>
                                        <form method="post">
                                            <div class="mb-3">
                                                <label class="form-label" asp-for="Inputaddress_info">Address Line</label>
                                                @if (Convert.ToInt32(TempData["buttonPressedmodifyaddress"] ?? 0) % 2 == 0)
                                                {
                                                    <input type="text" class="form-control" value="@Model.dt.Rows[0]["Address_info"]" readonly />
                                                    <button asp-page-handler="ModifyAddress" class="btn btn-primary">Modify</button>
                                                }
                                                else
                                                {
                                                    <input type="text" class="form-control" asp-for="Inputaddress_info" value="@Model.dt.Rows[0]["Address_info"]" />
                                                    <button asp-page-handler="SaveAddress" class="btn btn-primary">Save</button>
                                                }
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Passport Info Section -->
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title mb-4">Passport Info</h6>
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">Passport Info.</label>
                                                <input type="text" class="form-control" value="@Model.passportInfo" readonly />
                                            </div>
                                        
                                        </div>
                             
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Password Change Section -->
                    <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title mb-4">Change Password</h6>
                                <form method="post">
                                    <div class="mb-3">
                                        <label class="form-label" asp-for="OldPassword">Old Password</label>
                                        <input type="password" asp-for="OldPassword" class="form-control" required>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" asp-for="NewPassword">New Password</label>
                                        <input type="password" asp-for="NewPassword" class="form-control" required>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" asp-for="ConfirmNewPassword" required>New Password Repeat</label>
                                        <input type="password" asp-for="ConfirmNewPassword" class="form-control" required>
                                    </div>
                                    <button asp-page-handler="ModifyPassword" class="btn btn-primary">Submit</button>
                                </form>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Profile and Password Tabs Section (Right Sidebar) -->
            <div class="col-md-4" style="flex: 1;">
                <div class="card sticky-top mb-4 mb-md-0">
                    <div class="card-body">
                        <ul class="nav nav-pills flex-column gap-2" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab"
                                   aria-controls="profile" aria-selected="true">
                                    <i class="bi bi-person me-2"></i> Profile
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="password-tab" data-bs-toggle="tab" href="#password" role="tab"
                                   aria-controls="password" aria-selected="false">
                                    <i class="bi bi-lock me-2"></i> Password
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>