@page
@model SearchModel
@{
    ViewData["Title"] = "Search";
    ViewData["name"] = "navbar";
    ViewData["Logged"] = Convert.ToString(HttpContext.Session.GetString("email"));
}
<link rel="stylesheet" href="/css/site.css">







<section class="booking-section">
    <h1>Book a Flight</h1>
    <p>Search for Emirates flights and book online. See our routes and schedules, and discover more about the experience you can look forward to on board.</p>

    <form class="booking-form" method="post">
        <div class="form-group">
            <label for="departure">Departure Airport</label>
            <select class="form-control mb-2 airport" id="fromairport" asp-for="@Model.flight.FromAirport" required>
                <option value="" disabled selected>Select AirPort</option>
                @{
                    for (int i = 0; i < @Model.airports.Rows.Count; i++)
                    {
                        <option value="@Model.airports.Rows[i][0]">@Model.airports.Rows[i][0].ToString().Replace("International", "").Replace("Airport", "") ( @Model.airports.Rows[i][1] )</option>
                    }

                }


            </select>
        </div>

        <div class="form-group">
            <label for="arrival">Arrival Airport</label>
            <select class="form-control mb-2 airport" id="toairport" asp-for="@Model.flight.ToAirport" required>
                <option value="" disabled selected>Select AirPort</option>
                @{
                    for (int i = 0; i < @Model.airports.Rows.Count; i++)
                    {
                        <option value="@Model.airports.Rows[i][0]">@Model.airports.Rows[i][0].ToString().Replace("International", "").Replace("Airport", "") ( @Model.airports.Rows[i][1] )</option>
                    }

                }


            </select>

        </div>


        <div class="form-group mb-3">
            <label for="leaving_date">Choose Leaving Date and Time</label>
            <input type="date" class="form-control mb-2" id="leaving_date" value="2024-12-20" asp-for="@Model.flight.LeavDate" required>
        </div>
 
        <div class="form-group">
            <label for="passengers">Passengers</label>
           <input type="text" asp-for="@Model.no_psngrs" required />
        </div>
        <div class="form-group">
            <label for="class">Class</label>
            <select id="class" name="class" asp-for="Class" required>
                <option>Economy</option>
                <option>Business</option>
                <option>First class</option>
            </select>
        </div>
        <button type="submit" class="search-btn bg-purple">Search Flights</button>
    </form>
</section>


<!-- Include jQuery and Select2 CSS/JS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>


<script>
    $(document).ready(function () {
        $('.airport').select2({
            placeholder: 'Select',
            allowClear: true
        });
    });

</script>