@page
@model SearchModel
@{
    ViewData["Title"] = "Book a Flight";
}

<section class="booking-section">
    <h1>Book a Flight</h1>
    <p>Search for Emirates flights and book online. See our routes and schedules, and discover more about the experience you can look forward to on board.</p>

    <form class="booking-form" method="post">
        <div class="form-group">
            <label for="departure">Departure Airport</label>
            <select class="form-control mb-2" id="fromairport" asp-for="@Model.flight.FromAirport" required>
                <option value="" disabled selected>Select AirPort</option>
                @{
                    for (int i = 0; i < @Model.airports.Count; i++)
                    {
                        <option value="@Model.airports[i]">@Model.airports[i]</option>
                    }

                }


            </select>
        </div>

        <div class="form-group">
            <label for="arrival">Arrival Airport</label>
            <select class="form-control mb-2" id="fromairport" asp-for="@Model.flight.ToAirport" required>
                <option value="" disabled selected>Select AirPort</option>
                @{
                    for (int i = 0; i < @Model.airports.Count; i++)
                    {
                        <option value="@Model.airports[i]">@Model.airports[i]</option>
                    }

                }


            </select>

        </div>


        <div class="form-group mb-3">
            <label for="leaving_date">Choose Leaving Date and Time</label>
            <input type="datetime-local" class="form-control mb-2" id="leaving_date" value="2024-12-20 00:00" asp-for="@Model.flight.LeavDate" required>
        </div>
 
        <div class="form-group">
            <label for="passengers">Passengers</label>
            <select id="passengers" name="passengers" asp-for="no_psngrs" required>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </div>
        <div class="form-group">
            <label for="class">Class</label>
            <select id="class" name="class" asp-for="Class" required>
                <option>Economy Class</option>
                <option>Business Class</option>
                <option>First Class</option>
            </select>
        </div>
        <button type="submit" class="search-btn">Search Flights</button>
    </form>
</section>