@page
@model SearchModel
@{
    ViewData["Title"] = "Book a Flight";
}


<nav class="  navbar navbar-expand-sm navbar-toggleable-sm navbar-dark mx-5 p-4 border-bottom  box-shadow mb-3 bg-purple" style="font-size:larger;border-radius:15px; ">

    <a class="navbar-brand" asp-area="" asp-page="/Index">ExoSky</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1 ">
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-page="/Index">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-page="/Profile">Profile</a>
            </li>



            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-page="/search">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-page="/reservation managment">Your Flights</a>
            </li>

        </ul>
    </div>

</nav>
   
<section class="booking-section">
    <h1>Book a Flight</h1>
    <p>Search for Emirates flights and book online. See our routes and schedules, and discover more about the experience you can look forward to on board.</p>

    <form class="booking-form" method="post">
        <div class="form-group">
            <label for="departure">Departure Airport</label>
            <select class="form-control mb-2" id="fromairport" asp-for="@Model.flight.FromAirport" required>
                <option value="" disabled selected>Select AirPort</option>
                @{
                    for (int i = 0; i < @Model.airports.Count; i++)
                    {
                        <option value="@Model.airports[i]">@Model.airports[i]</option>
                    }

                }


            </select>
        </div>

        <div class="form-group">
            <label for="arrival">Arrival Airport</label>
            <select class="form-control mb-2" id="fromairport" asp-for="@Model.flight.ToAirport" required>
                <option value="" disabled selected>Select AirPort</option>
                @{
                    for (int i = 0; i < @Model.airports.Count; i++)
                    {
                        <option value="@Model.airports[i]">@Model.airports[i]</option>
                    }

                }


            </select>

        </div>


        <div class="form-group mb-3">
            <label for="leaving_date">Choose Leaving Date and Time</label>
            <input type="datetime-local" class="form-control mb-2" id="leaving_date" value="2024-12-20 00:00" asp-for="@Model.flight.LeavDate" required>
        </div>
 
        <div class="form-group">
            <label for="passengers">Passengers</label>
            <select id="passengers" name="passengers" asp-for="no_psngrs" required>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </div>
        <div class="form-group">
            <label for="class">Class</label>
            <select id="class" name="class" asp-for="Class" required>
                <option>Economy Class</option>
                <option>Business Class</option>
                <option>First Class</option>
            </select>
        </div>
        <button type="submit" class="search-btn bg-purple">Search Flights</button>
    </form>
</section>