@page
@model Airline_Reservation_System.Pages.Staff.FlightDetailsModel
@{
}

@{
    // Add this at the top of your Razor Page
    @Html.AntiForgeryToken()
}
<div class="container-md">
    <!-- layout-wrapper -->
    <div class="layout-wrapper">

        <form method="post">
            <div class="col-md-3 mb-3">
                <select name="selectedFlight" class="form-select" onchange="this.form.submit()">
                    <option value="">Select Flight</option>
                    @foreach (var flight in Model.flights)
                    {
                        <option value="@flight">@flight</option>
                    }
                </select>
            </div>
        </form>



        <!-- header -->
        <div class="header d-flex " style="height: 140px;">

            <!-- Logo -->
            @* <div>
            <img width="100" src="~/Qatar Airways.jpeg" alt="logo">
            </div> *@


            <!-- ./ Logo -->


            <div class="card h-100 ms-5">
                <div class="card-body d-flex">
                    <div class="d-flex justify-content-between align-items-center mb-3 flex-column">
                        <div class="d-flex flex-column align-items-center">
                            <p class="text-muted mb-1" style="font-size: medium;">Flight Number : @Model.actual_flight_num</p>
                            <p class="text-muted mb-1" style="font-size: medium;">Destination Airport : @Model.f.ToAirport</p>
                            <p class="text-muted mb-1" style="font-size: medium;">Leaving Time : @Model.f.LeavDate.TimeOfDay</p>
                            <p class="text-muted mb-1" style="font-size: medium;">Leaving Gate : @Model.f.gate</p>

                        </div>

                    </div>
                </div>
            </div>

            <div class="card h-100 ms-5">
                <div class="card-body d-flex">
                    <div class="d-flex justify-content-between align-items-center mb-3 flex-column">
                        <div class="d-flex align-items-center">
                            <p class="text-muted mb-1" style="font-size: medium;">Number of Passengers</p>
                            <i class="bi bi-people-fill ms-3 fs-2 text-primary"></i>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="fs-3 fw-bold text-dark">
                                @Model.num_passengers
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="card h-100 ms-auto">
                <div class="card-body d-flex">
                    <div class="d-flex justify-content-between align-items-center mb-3 flex-column">
                        <div class="d-flex align-items-center">
                            <p class="text-muted mb-1" style="font-size: medium;">Checked In</p>
                            <i class="bi bi-person-check-fill ms-3 fs-2 text-primary"></i>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="fs-3 fw-bold text-dark">
                                @Model.CheckedIn
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card h-100 ms-auto">
                <div class="card-body d-flex">
                    <div class="d-flex justify-content-between align-items-center mb-3 flex-column">
                        <div class="d-flex align-items-center">
                            <p class="text-muted mb-1" style="font-size: medium;">Airplane Capacity </p>
                            <i class="bi bi-database-fill ms-3 fs-2 text-primary"></i>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="fs-3 fw-bold text-dark">
                               @Model.capacity
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>
        <!-- ./ header -->
        <!-- Main content -->
        <div class="content ">

            <!-- Path-->
            <div class="mb-4">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="../">
                                <i class="bi bi-globe2 small me-2"></i> Home Page
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="flights_Details">Flight Details</li>
                    </ol>
                </nav>
            </div>

            <!-- Table choices -->
            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex gap-4 align-items-center">
                        <div class="d-none d-md-flex">Passengers</div>
                        <div class="d-md-flex gap-4 align-items-center">
                            <form class="mb-3 mb-md-0">
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <select class="form-select">
                                            <option>Select </option>
                                            <option value="N">Not Checked In</option>
                                            <option value="C">Checked In</option>

                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <div style="display: flex; align-items: stretch; width: 100%;">
                                            <input type="text" class="form-control" id="searchInput" placeholder="Search" style="height: auto; box-sizing: border-box; width:400px">
                                            <button class="btn btn-outline-light w-25 ms-2">
                                                <i class="bi bi-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Table of flights -->
            <div class="table-responsive">
                <table class="table table-custom table-lg mb-0" id="orders">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Passenger Name</th>
                            <th>Seat Number</th>
                            <th>Phone Number</th>
                            <th>Email</th>
                            <th>Class</th>
                            <th>Status</th>
                            <th class="text-end"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            for (int i = 0; i < @Model.dt.Rows.Count; i++)
                            {
                                <tr>
                                    <td style="display:flex; justify-content:center;">
                                        <div class="avatar avatar-info m-4 ">
                                            <span class="avatar-text rounded-circle">@Model.dt.Rows[i][0].ToString()[0]</span>
                                        </div>
                                    </td>
                                    <td>@Model.dt.Rows[i][0]</td>
                                    <td>@Model.dt.Rows[i][1]</td>
                                    <td>@Model.dt.Rows[i][2]</td>
                                    <td>@Model.dt.Rows[i][3]</td>
                                    <td>@Model.dt.Rows[i][4]</td>

                                    <td>
                                        <button class="btn btn-success">
                                            @Model.dt.Rows[i][5]
                                        </button>
                                    </td>
                                    <td class="text-end">
                                        <div class="d-flex">
                                            <div class="dropdown ms-auto">
                                                <a href="#" data-bs-toggle="dropdown"
                                                   class="btn btn-floating"
                                                   aria-haspopup="true" aria-expanded="false">
                                                    <i class="bi bi-three-dots"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a href="#" class="dropdown-item">Show Profile</a>
                                                    @if (Model.dt.Rows[i][5].ToString() != "Checked In")
                                                    {
                                                        <form method="post" asp-page-handler="checkin" asp-route-id="@Model.dt.Rows[i][3]">
                                                            <input type="hidden" name="userId" value="@Model.dt.Rows[i][0]" />
                                                            <button type="submit" class="dropdown-item">Check In</button>
                                                        </form>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }

                       
                      



                    </tbody>
                </table>
            </div>

            <!-- See Rest passengers-->
            <nav class="mt-4" aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>



        </div>
        <!-- ./ Main content -->



    </div>
    <!-- ./ layout-wrapper -->
</div>


