﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Airline_Reservation_System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

   @*  <link rel="stylesheet" href="~/Airline_Reservation_System.styles.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/css/app.css" />
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="../favicon.png" />

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

    <!-- Slick -->
    <link rel="stylesheet" href="/libs/slick/slick.css" type="text/css">

    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <!--------------------------------------->
    <!-- Animate.css -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/css/icomoon.css"> 
    <!-- Themify Icons-->
    @* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/themify-icons/0.2.0/css/themify-icons.css"> *@

  

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/css/magnific-popup.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/css/bootstrap-datepicker.min.css">

    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css"> 
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="/css/style.css">
  

    <!-- Modernizr JS -->
   @*  <script src="/js/modernizr-2.6.2.min.js"></script>  *@


     
    @* <link rel="stylesheet" href="~/Airline_Reservation_System.styles.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/css/app.css" />


 
</head>
<body >
 
    @if (Convert.ToString(ViewData["name"]) == "sidebar" || Convert.ToString(ViewData["user"]) == "admin" || Convert.ToString(ViewData["user"]) == "staff")   //Admin or Staff
    {


        <!-- ./ sidebars -->
        <div class="menu">
            <div class="menu-header">
                <a href="" class="menu-header-logo">
                    <img src="../images/ExoSky Logo.png" alt="logo">
                    <span>ExoSky</span>
                </a>
                <a href="#" class="btn btn-sm menu-close-btn">
                    <i class="bi bi-x"></i>
                </a>
            </div>
            <div class="menu-body">
                <div class="dropdown" style="background:none;">

                    <div class="dropdown-menu dropdown-menu-end">
                        <a href="#" class="dropdown-item d-flex align-items-center">
                            <i class="bi bi-person dropdown-item-icon"></i> Profile
                        </a>
                        <a href="#" class="dropdown-item d-flex align-items-center">
                            <i class="bi bi-envelope dropdown-item-icon"></i> Inbox
                        </a>
                        <a href="#" class="dropdown-item d-flex align-items-center" data-sidebar-target="#settings">
                            <i class="bi bi-gear dropdown-item-icon"></i> Settings
                        </a>
                        <a href="./login.html" class="dropdown-item d-flex align-items-center text-danger"
                        target="_blank">
                            <i class="bi bi-box-arrow-right dropdown-item-icon"></i> Logout
                        </a>
                    </div>
                </div>
                <ul>
                    <li class="menu-divider">Dashboard</li>
          
                    @{
                        if (Convert.ToString( ViewData["Nav"]).ToLower() == "admin")
                        {
                        
                            string IsActive(string path) => 
                            Context.Request.Path.Equals(path, StringComparison.OrdinalIgnoreCase) ? "active" : "";


                        <li>
                            <a class="@IsActive("/admin/dashboard")" href="/admin/dashboard">
                                <span class="nav-link-icon">
                                    <i class="bi bi-bar-chart"></i>
                                </span>
                                <span>Dashboard</span>
                            </a>
                        </li>

                        <li>
                                <a class="@IsActive("/admin/createflight")" href="/admin/CreateFlight">
                                <span class="nav-link-icon">
                                    <i class="bi bi-bar-chart"></i>
                                </span>
                                <span>Create Flight</span>
                            </a>
                        </li>
                            <li>
                                <a class="@IsActive("/admin/adminflights")" href="/admin/adminflights">
                                    <span class="nav-link-icon">
                                        <i class="bi bi-bar-chart"></i>
                                    </span>
                                    <span>Flights</span>
                                </a>
                            </li>
                            <li>
                                <a class="@IsActive("/admin/createuser")" href="/admin/createuser">
                                    <span class="nav-link-icon">
                                        <i class="bi bi-bar-chart"></i>
                                    </span>
                                    <span>Create User</span>
                                </a>
                            </li>
                            <li>
                                <a class="@IsActive("/staff/flightdetails")" href="/staff/flightdetails">
                                    <span class="nav-link-icon">
                                        <i class="bi bi-bar-chart"></i>
                                    </span>
                                    <span>Passengers</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/staff/flights">
                                    <span class="nav-link-icon">
                                        <i class="bi bi-bar-chart"></i>
                                    </span>
                                    <span>Flights</span>
                                </a>
                            </li>
                            <li>
                                <a href="/staff/flightdetails">
                                    <span class="nav-link-icon">
                                        <i class="bi bi-bar-chart"></i>
                                    </span>
                                    <span> flight details for staff</span>
                                </a>
                            </li>

                        }
                       
                    }
                   @*  <li class="menu-divider">Log Out</li> *@
                    <li>
                        <form method="post" asp-page-handler="LogOut">
                            <Button class="btn" >
                                <span class="nav-link-icon">
                                    <i class="bi bi-bar-chart"></i>
                                </span>
                                <span>Log Out</span>
                            </Button>
                        </form>
                
                    </li>
               
             

              

                    
                </ul>
            </div>
        </div>
        <!-- ./  menu -->


        <div class="layout-wrapper">

    <main role="main" class="pb-3" >
            @RenderBody()
        </main>
        </div>
    }
    else if(Convert.ToString(ViewData["name"]) == "navbar" && Convert.ToString(ViewData["user"]) =="passenger")
    {



        <div class="navv">
            <div class="containerr">
                <div class="nav-linkss">
                    <a href="/"class="logoo">ExoSky</a>
                    <a href="Search">Search</a>
                    @{
                        if (!string.IsNullOrEmpty(Convert.ToString(ViewData["Logged"])))
                    {
                    <a href="/profile">Profile</a>
                            <a href="reservation managment">Past Flights</a>
              
                    }
                    }
    
               
                </div>
                <div class="auth-buttonss">
                    @{
                        if (string.IsNullOrEmpty(Convert.ToString(ViewData["Logged"])) )
                        {
                            if (Convert.ToString(ViewData["Title"]) != "Sign In")
                            {
                                <a href="signin" style="margin:auto;" class="btnn btn-sign-inn ">Sign In</a>
                            }
                            
                           
                        }
                        else
                        {
                            <form method="post" asp-page-handler="LogOut">
                                <button class="btnn btn-log-outt">Log Out</button>
                            </form>
                          
                         

                        }
                    }
                 
                </div>
            </div>
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    }
    else
    {
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    }
    <!-- content-footer -->
    <footer class="content-footer">
        <div>
            ExoSky Airlines © 2024
        </div>
        <div>
            <nav class="nav gap-4">               
                <a href="mailto:exoskyairlines@gmail.com">Get Help</a>

                <a href="https://github.com/yousseff2255/Airline-Reservation-System" target="_blank">GitHub Repository</a>
            </nav>
        </div>
    </footer>
    <!-- ./ content-footer -->

   
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @* <script src="/js/site.js" asp-append-version="true"></script> *@
    <!-- Slick -->
    
    <script src="/libs/slick/slick.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>